
scikit-learn
tensorflow
pandas
pymongo
pycaret
yellowbrick
joblib
pygad
pyod
anomatools
requests
xgboost
catboost
lightgbm
seaborn
matplotlib
openpyxl

##numpy==1.26.3
##numpy==2.0.0
#pandas~=1.4.0 #
#scikit-learn>=0.23.2 #
#seaborn~=0.11.2  # tal cual
#matplotlib~=3.5.1 # 
#pycaret>=2.3.6 # tal cual
#yellowbrick~=1.2 # tal cual
#joblib~=1.0.1 #
#pygad~=2.16.3 #  tal cual
##tensorflow~=2.8.0
#tensorflow==2.18.0 #
#pymongo~=4.0.1 #
#pyod~=0.9.7 # desde aqui tal cual
#anomatools~=2.3.0 #
#requests>=2.27.1 #
#xgboost>=1.5.2 #
#catboost>=1.0.4 #
#lightgbm>=3.3.2 # 
#
#